* {
  margin: 0px;
  padding: 0px;
  background-color: #fbece4;
  color: #7c7c90;
  font-family: "Architects Daughter", cursive;
}

h1 {
  text-align: center;
  margin-top: 5rem;
  font-size: 70px;
}
.info p {
  text-align: center;
  margin-top: 0.5rem;
}

.z-text {
  /* Tip: Apply CSS transforms here */
  /* rotateX() == up/down */
  /* rotateY() == left/right */
  transform: rotateX(15deg) rotateY(-30deg);
}
